*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}
/* This is the design of home page */
.navigator{
    background-color:#A0BDFF;
    height: 10vh;
    width: 100%;
    font-size: 18px;
    position: fixed;
}
.navigator a{
 color:black;
 text-decoration: none;
position: relative;
top:35%;
 margin-left: 2%;
}

.HE{
    position: absolute;
    top: 37%;
    left: 3%;
}
.message{
    position: absolute;
    top:15%;
    left: 60%;
    text-align: left;
font-size: small;
font-weight: lighter;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.message h1{
    color:#407BFF
}
.footer{
    position: absolute;
    bottom:0%;
    background-color: black;
    width: 100%;
    height: 10%;
}
.footer a{
  position: relative;
  top:22%;
  margin-left: 3%;
  text-decoration: none;
}
.science{
    position:absolute;
    top: 15%;
    margin-left: 2%;
    text-align: left;
}
.science h1{
 color: #407BFF;

}

/* This is design of public */

.main h1{
   
    text-align: left;
    color:#407BFF;
    margin-left: 10%;
    margin-bottom:5%;
    margin-top: -4%;
    position: fixed;
}
.footer1{
  
    position:fixed;
    bottom:0%;
    background-color: black;
    width: 100%;
    height: 10%;
}
.footer1 a{
    position: relative;
    top:22%;
    margin-left: 3%;
    text-decoration: none;
  }
  .happ{
    color:#407BFF;
    position: absolute;
    top:5%;

  }
  /* .main h3{
    position: absolute;
    top:18%;
    left: 42%;
  } */
  /* .imghapp{
    position: absolute;
    top:30%;
    left:7% ;
  } */
  .happword{
    position: absolute;
    top:0%;
    text-align: left;
 right: -130%;
    background-color: #407BFF;
    border-radius: 20%;
    padding: 10%;
    font-size: small;
    font-weight: lighter;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .all{
    text-align: center;
    /* margin-top: 10%; */
    position:absolute;
    top: 20%;
    left: 10%;
    text-align: left;

  }
  img{
    margin-left: 5%;
  }
.all li{
    color: #98b2eb;
    font-size: x-large;
}
.fit{
 
    position: absolute;
    top:60%; 
    text-align: left;
 right: -130%;
    background-color: #407BFF;
    border-radius: 20%;
    padding: 10%;
    font-size: small;
    font-weight: lighter;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fit1{
position: absolute;
top:-10%;
right: 230%;
}
.imgfit{
margin-top: 6%;
width:14.5vw
}
.cov19{
position: absolute;
top:70%;
left: 6%;
}
.vacimg{
position: absolute;
top:70%;
left: 6%;
}
.covi{
position: absolute;
top:70%;
left:50%;
background-color: #407BFF;
border-radius: 30%;
padding: 2%;
font-size: larger;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: lighter;
font-style: oblique;
}
/* This is design of detail */

.ball{
   
}